@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

/* Slider Slick */
.slick-slider .slick-list {
  overflow: hidden;
}

.slick-slider .slick-track {
  display: flex !important;
  align-items: stretch;
}

.slick-slider .slick-slide {
  height: auto;
  display: flex !important;
  align-items: stretch;
}

.slick-slider .slick-slide>div {
  height: 100%;
  display: flex;
}

.custom-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.custom-dots li {
  width: 40px;
  height: 40px;
  margin: 0;
}

.custom-dot {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-dot:hover {
  border-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.1);
}

.dot-inner {
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.3);

  transition: all 0.3s ease;
}

.slick-active .custom-dot {
  border-color: #69FF00;
  background-color: rgba(43, 102, 4, 0.1);
}

.slick-active .dot-inner {
  background-color: #69FF00;
  transform: scale(1.2);
}

/* Technologies Section */
.technologies_section {
  mask-image: linear-gradient(90deg, transparent 0%, #d9d9d9 20%, #d9d9d9 80%, transparent 100%), linear-gradient(180deg, transparent 5%, #d9d9d9 15%, #d9d9d9 85%, transparent 95%);
  mask-composite: intersect;
}